h1{
    margin: 0;
    margin-bottom: 15px;
    color: #a99696;
}
h5{
    margin: 0;
    margin-bottom: 15px;
    color: #a99696;
}
.input-section{
    background-color:rgba(48, 50, 61, 0.895);
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #18171766;
}
body{
    background-color: rgba(23, 222, 43, 0.248);
    margin: 0;
    font-family: sans-serif;
    background-size:cover 500; 
    background-position: center;
    background-attachment: fixed;
    


    background-image: url('/public/todo78.webp');
}
.todo-container{
    
    width: 300px;
    
    height: 50;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}
input ::placeholder{
    color: silver;
}

ul{
    text-align: left;
    padding: 0;

}
ul li{
list-style: none;
background-color: rgba(73, 59, 108, 0.248);
padding: 15px;
margin-bottom: 10px;
color: rgb(52, 48, 48);
box-shadow: 0 4px 6px #00000066;
display: flex;


    
}
ul li i{
    text-align: right;
    flex: 1;
    cursor: pointer;
}

.input-section input{
    border-radius: 5px;
    border: 1px solid rgb(238, 237, 241);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
ul li input[type="checkbox"] {
    margin-right: 10px; 
    cursor: pointer; 
    border: solid #000;
}

